body {
  background: #333;
  padding: 1em;
}
.container-fluid {
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar {
  background-color: #00BFFF;
  color: #6A5ACD;
  font-size: 40px;

}
.video-conatiner {
  z-index: 0;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  position: fixed;
}

#fixts {
  display: none;
}
#tonament {
  display: none;
}
